/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Teko', sans-serif; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

p, a {
  font-size: 16px;
  font-family: 'Montserrat', serif;
  line-height: 1.4em; }

.medium-text {
  font-size: 14px;
  line-height: 1.2em; }

.small-text {
  font-size: 12px;
  line-height: 1em; }

.banner {
  width: 100%;
  height: 250px;
  background: #1A2930;
  color: #1A2930;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.banner .container {
  background: white;
  max-width: 700px;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .banner .container .header h1 {
    font-size: 3.5em; }
  .banner .container p {
    font-size: 0.8em;
    flex-basis: 70%; }

.nav {
  width: 100%;
  height: 50px;
  background: #F7CF3E;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .navbar .logo {
    display: block;
    padding: 15px 20px;
    background: #1A2930;
    color: white; }

#menu {
  margin-left: 30px;
  display: inline-block; }
  #menu li {
    float: left; }
    #menu li a {
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      color: #menu li a olive; }
      #menu li a:hover {
        background: #1A2930;
        color: white;
        cursor: pointer; }

.selection {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .selection a {
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid black;
    z-index: 1; }
    .selection a:hover {
      background: #F7CF3E;
      color: #1A2930;
      cursor: pointer; }
  .selection .container {
    position: relative;
    height: 100%;
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .selection .container a {
      color: white;
      border-color: white; }
      .selection .container a:hover {
        color: black;
        border-color: black; }
  .selection .research {
    background-image: url("http://mapdesign.icaci.org/wp-content/uploads/2014/11/MapCarte334_howard_large.png");
    background-size: cover;
    background-position: 0% 40%; }
  .selection .events {
    background: url("http://sunway.edu.my/college/sites/default/files/why-sunway/images/lecture%20theatre.jpg");
    background-size: cover; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .overlay.dark {
    background: rgba(0, 0, 0, 0.6); }
  .overlay.light {
    background: rgba(0, 0, 0, 0.4); }

.flex-row, .bio, .bio .wrap, .bio .wrap .container .social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-stack, .bio .wrap .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.bio {
  min-height: 400px;
  width: 100%;
  padding: 10px 15px;
  justify-content: center; }
  .bio .wrap {
    min-height: 400px;
    width: 80%;
    justify-content: center;
    align-items: center;
    align-content: space-between; }
    .bio .wrap .container {
      flex-basis: 45%;
      max-width: 400px;
      margin: 20px 10px; }
      .bio .wrap .container .heading h1 {
        font-size: 5em;
        margin-left: -2px; }
      .bio .wrap .container .heading p {
        font-size: 0.8em;
        margin-top: -10px; }
      .bio .wrap .container .description {
        margin: 20px 0px;
        font-size: 0.9em; }
      .bio .wrap .container .social-media {
        width: 75%;
        justify-content: space-between; }
        .bio .wrap .container .social-media .social-icon {
          height: 40px;
          width: 40px;
          border-radius: 100%;
          background: #222; }

.bio .container:nth-child(1) {
  border-right: 4px solid #1A2930;
  padding-right: 30px; }

#achievements {
  align-items: center; }
  #achievements .list {
    font-family: 'Teko', sans-serif;
    list-style-type: upper-roman; }
    #achievements .list > li {
      margin-bottom: 15px; }
      #achievements .list > li:last-child {
        margin-bottom: none !important; }
      #achievements .list > li h3 {
        margin-bottom: 10px; }

.list li p {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  font-style: italic;
  font-size: 0.85em; }

.achievement-list {
  margin-bottom: 10px; }
  .achievement-list li {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    font-style: italic;
    font-size: 0.85em;
    margin: 0px 0px; }
    .achievement-list li p.subheading {
      font-size: 0.8em; }
    .achievement-list li p.source {
      font-size: 0.8em;
      font-style: normal;
      text-align: right; }
