.banner
  .container
    .header
      h1 Aisha Ali
    p My research focuses on political economy of development, behavioral economics and technological change as well as the economics of information and human-computer interaction.
