.nav
  .navbar
    .logo 
    .menu
      ul#menu
        li 
          a(href="#") Home
        li 
          a(href="#") Research
        li 
          a(href="#") CV    
        li 
          a(href="#") Media
          
