.nav
  .navbar
    .logo 
    .menu
      ul#menu
        li 
          a(href="#") Curriculum Vitae
        li 
          a(href="#") Research
            
        li 
          a(href="#") Media
          
